
<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>Carrom</title> 
</head> 
  
<body> 
<p>Carrom is a tabletop game which resembles snooker 
  or billiards, and the more modern games of subbuteo 
  and air hockey. 
  <br> 
  The game of Carrom is played by 
  propelling discs and potting them into the four  
  corner pockets on a wooden playing board. Some  
  variations use small cues but most  
  Carrom is played by hand</p> 
<h2>Facts about Carrom</h2> 
<ul> 
    <li>Invented in India</li> 
    <li>In Patiala, India, there is a carrom board 
      that has a surface made of glass.</li> 
    <li>Maria Irudayam is a Chennai-based carrom 
      player who has won the World Championship twice 
      and the National Championship of India nine times.</li> 
    <li>As of now, the carrom game is not a part  
      of the Olympics or the Commonwealth Games.</li> 
</ul> 
<h3>Ooo your favourite team is {{fav}} !!</h3> 
</body> 
</html> 
